{% extends 'accounts/base.html' %}

{% block title %}Home - Glamify{% endblock %}

{% block content %}

<style>
.carousel-img {
    height: 600px; /* Adjust the height as needed */
}
.welcome-heading {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
}

</style>

<section class="hero">
    <div class="container">
        <h1 class="welcome-heading"><b>Welcome to Glamify</b></h1>
        <h5 class="welcome-heading">Explore Different categories, Products and brands here</h5>
    </div>
</section>
<!-- Hero Section -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active ms-5">
      <img class="d-block w-100 carousel-img" src="/media/home/carousel.jpg" alt="First slide">
    </div>
</div> 
<br>
<br>

<!-- Category Section -->
<section class="category-section">
    <div class="container">
        <h1 class="welcome-heading">Featured Products</h1>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="/media/home/categorycard1.jpg" class="card-img-top" alt="Category 1">
                    <div class="card-body">
                        <h5 class="card-title">Watches</h5>
                        <p class="card-text">Explore our latest collection of Luxury Watches .</p>
                        <a href="#" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/media/home/categorycard2.jpg" class="card-img-top" alt="Category 2">
                    <div class="card-body">
                        <h5 class="card-title">Hand Bags</h5>
                        <p class="card-text">Discover our exclusive Luxury Hand Bags .</p>
                        <a href="#" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
             <div class="col-md-4">
                <div class="card">
                    <img src="/media/home/categorycard6.jpg" class="card-img-top" alt="Category 2">
                    <div class="card-body">
                        <h5 class="card-title">Dresses</h5>
                        <p class="card-text">Collection of different party wear dress .</p>
                        <a href="#" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/media/home/categorycard3.jpg" class="card-img-top" alt="Category 2">
                    <div class="card-body">
                        <h5 class="card-title">Diamond Jewelry</h5>
                        <p class="card-text">Explore our latest collection of Jewelry diamond rings .</p>
                        <a href="#" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/media/home/categorycard4.jpg" class="card-img-top" alt="Category 2">
                    <div class="card-body">
                        <h5 class="card-title">Perfumes</h5>
                        <p class="card-text">Choosing Perfect scent Perfume .</p>
                        <a href="#" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
             <div class="col-md-4">
                <div class="card">
                    <img src="/media/home/categorycard5.jpg" class="card-img-top" alt="Category 2">
                    <div class="card-body">
                        <h5 class="card-title">Makeup</h5>
                        <p class="card-text">Brushes, powder and makeup tools .</p>
                        <a href="#" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/media/home/categorycard7.jpg" class="card-img-top" alt="Category 2">
                    <div class="card-body">
                        <h5 class="card-title">Home Decore</h5>
                        <p class="card-text">Fashionable velvet corner sofa with pillows .</p>
                        <a href="#" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/media/home/categorycard8.jpg" class="card-img-top" alt="Category 2">
                    <div class="card-body">
                        <h5 class="card-title">Garden Decore</h5>
                        <p class="card-text">flowers in a garden center .</p>
                        <a href="#" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/media/home/categorycard9.jpg" class="card-img-top" alt="Category 2">
                    <div class="card-body">
                        <h5 class="card-title">Mobiles and Laptops</h5>
                        <p class="card-text">Different apple gadgets .</p>
                        <a href="#" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
