{% extends 'accounts/base1.html' %}
{% block title %}Login Page{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Login</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% if messages %}
               <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <ul class="mb-0">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                <strong>{{ message|safe }}</strong>
                            </li>
                        {% endfor %}
                    </ul>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
                  <form method="post" class="p-4 border rounded-3 bg-light">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" name="username" class="form-control" id="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" name="password" class="form-control" id="password" required>
                    </div>
                    <button type="submit" class="btn btn-dark w-100">Login</button>
                <p class="text-center mt-3">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
                <p class="text-center">Forgot your password? <a href="{% url 'password_reset' %}">Reset Password</a></p>

                <!-- Social Integration -->
               <div class="text-center mt-3">
                    <p>Or log in with:</p>
                    <a href="#" class="btn btn-outline-dark social-login-button">
                        <i class="fab fa-google"></i> Google
                    </a>
                    <a href="#" class="btn btn-outline-primary social-login-button">
                        <i class="fab fa-facebook-f"></i> Facebook
                    </a>
                    <!-- Add more social login buttons as needed -->
                </div>
                </form>

        </div>
    </div>
</div>
{% endblock %}
