{% extends 'accounts/base1.html' %}

{% block title %}Your Profile - Glamify{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h5 class="card-title mb-0">Your Profile</h5>
                </div>
                <div class="card-body">
                    <h6>Username: {{ user.username }}</h6>
                    <p>Email: {{ user.email }}</p>
                    <!-- Add more profile information here as needed -->
                    <a href="{% url 'edit-profile' %}" class="btn btn-dark">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
