<!-- category/category_detail.html -->
{% extends 'category/base.html' %}

{% block title %}
    {{ category.name }} - Glamify
{% endblock %}

{% block content %}
    <h1>{{ category.name }}</h1>
    <p>Description: {{ category.description }}</p>
    <!-- Add more details as needed -->
    <h2>Subcategories</h2>
    <ul>
        {% for subcategory in category.subcategories.all %}
            <li>{{ subcategory.name }}</li>
            <li><a href="{% url 'subcategory-list' subcategory.id %}">{{ subcategory.name }}</a></li>
        {% endfor %}
    </ul>
     <a href="{% url 'subcategory-create' category.id %}">Create New Subcategory</a>
{% endblock %}
